<form>
<h1>New Board</h1>
<label for="title">Title: </label>
<input type="text" name="title" value="<%= board.escape("title") %>">
<button>Submit</button>
<button type="button" class="back">Return</button>
</form>
