/* PHASE 2: Notifications */
.badge {
  /*margin: auto;
  display: block;*/
  text-align: center;
  height: 20px;
  width: 20px;
  background: black;
  padding: 0px;
  border-radius: 14px;
  font-size: 14px;
  display: inline;
}

.notification-list {
  display: none;
}

.notification-list a:hover {
  position: relative;
  z-index: 1;
  background-color: #eee;
}

.notification-list li{
  border-top: solid 1px #ccc;
}

.notifications:hover .notification-list{
  display: block;
  position: relative;
  background-color: #fff;
  color: black;
  border-right: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  font-size: 14px;
  z-index: 1;
}

.notifications:hover .badge{
  background: red;
}

.notifications:hover{
  background: black;
}
