<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id="<%%= pokemon.id %>">
    name: <%%= pokemon.escape("name") %>,
    type: <%%= pokemon.escape("poke_type") %>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <article class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img>
    <br>
    <ul>
      <li>name: <%%= pokemon.escape("name") %></li>
      <li>attack: <%%= pokemon.escape("attack") %></li>
      <li>defense: <%%= pokemon.escape("defense") %></li>
      <li>type: <%%= pokemon.escape("poke_type") %></li>
      <li>moves: <%%= pokemon.escape("moves") %></li>
    </ul>
  </article>

  <span style="font-weight: bold;">Toys:</span><br>
  <ul class="toys"></ul>
</script>

<script type="text/template" id="toy-list-item-template">
  <li class="toy-list-item" data-id="<%%= toy.id %>" data-pokemon-id='<%%= toy.escape("pokemon_id")%>'>
    Toy Name: <%%= toy.escape("name")%> <br>
    Toy Happiness: <%%= toy.escape("happiness")%> <br>
    Toy Price: <%%= toy.escape("price")%> <br>
  </li>
</script>

<script type="text/template" id="toy-detail-template">
  <article class="detail">
    <img src="<%%=toy.escape('image_url')%>"><br>
    <ul>
      <li>id: <%%= toy.id %></li>
      <li>happiness: <%%= toy.escape("happiness") %></li>
      <li>name: <%%= toy.escape("name") %></li>
      <li>price: <%%= toy.escape("price") %></li>
    </ul><br>
    <select class="toy-owner"
      data-pokemon-id="<%%= toy.escape('pokemon_id') %>"
      data-toy-id="<%%= toy.id %>"
    >
      <%% pokes.each(function (pokemon) { %>
        <option
          value="<%%= pokemon.id %>"
          <%% if (pokemon.id == toy.escape('pokemon_id')) {%>
            selected
          <%% } %>
        >
          <%%= pokemon.escape("name") %>
        </option>
      <%% }) %>


    </select>
  </article>
</script>

<script type="text/template" id="pokemon-form-template">
  <form class='new-pokemon'>
    <div>
      <label
        for='pokemon_name'>Name:</label>
      <input
        type='text'
        id='pokemon_name'
        name='pokemon[name]'>
    </div>

    <div>
      <label
        for='pokemon_image_url'>Image URL:</label>
      <input
        type='text'
        id='pokemon_image_url'
        name='pokemon[image_url]'>
    </div>

    <div>
      <label
        for='pokemon_poke_type'>Type:</label>
      <select
        id='pokemon_poke_type'
        name='pokemon[poke_type]'>
        <% Pokemon::TYPES.each do |type|%>
          <option><%= type %></option>
        <% end %>
      </select>
    </div>

    <div>
      <label
        for='pokemon_attack'>Attack:</label>
      <input
        type='number'
        id='pokemon_attack'
        name='pokemon[attack]'>
    </div>

    <div>
      <label
        for='pokemon_defense'>Defense:</label>
      <input
        type='number'
        id='pokemon_defense'
        name='pokemon[defense]'>
    </div>

    <div>
      <label
        for='pokemon_move_1'>Move #1:</label>
      <input
        type='text'
        id='pokemon_move_1'
        name='pokemon[moves][]'>
    </div>

    <div>
      <label
        for='pokemon_move_2'>Move #2:</label>
      <input
        type='text'
        id='pokemon_move_2'
        name='pokemon[moves][]'>
    </div>

    <button>Create Pokemon</button>
    <br>
  </form>
</script>
