img {
  height: 100%;
  width: 100%;
}

figure {
  margin: 0;
}

li {
  height: 250px;
  width: 200px;
  float: left;
}

.items {
  height: 250px;
  width:1000px
}

.items > li {
  display: none;
  /*transition: left 1s;*/
}

.carousel > figure {
  width: 200px;
  border: 10px solid green;
  position: relative;
  overflow: hidden;
}

.items > .active {
  display: block;
  left: 0%;
  transition: left 0.5s;
  position: absolute;
}

.items > .right {
  position: absolute;
  left: 100%;
  display: block;
}

.items > .left {
  position: absolute;
  left: -100%;
  display: block;
}
